.grid{
    display: grid;
    grid-template-columns: 100px 100px 200px;
    margin-top: 30px;
}

.grid2{
    display: grid;
    grid-template-columns: 100px 1fr;
    margin-top: 30px;

}
.grid3{

    display: grid;
    grid-template-columns: 100px 1fr 1fr;
    margin-top: 30px;
}
.div1{
    background-color: rgba(3, 204, 200, 0.979);
}
.div2{
    background-color: rgb(254, 100, 167);
}
.div3{
    background-color: rgb(1, 210, 210);
}